#root{
  height:100%
}

html{
  height:100%;
}
body {
  height:100%;
  margin: 0;
  font-family: Helvetica Neue, Helvetica,Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.content-right-container{
  margin-top:4em;
  margin-bottom:2em;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.header-title{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.content-right{
  display:flex;
  padding-top: 64px;
  height: 100%;
  align-items: center;
  flex-direction:column;
}

.logo {
  padding-left: 1.5em;
  height:40px;
  width:auto;
}

.content-right {
  flex: 1;
  margin-left:1em;
  margin-right:1em;
  margin-bottom:1em;
}

.content-button {
  background-color: #3d95ce;
  box-shadow: 0 1px 2px rgba(38,38,38,.15);
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  padding: 16px 28px;
  width:100%;
  background-clip: padding-box;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
}
.content-button:focus {
  outline:0;
}

.content-button:hover {
  background-color: #6fb4e0;
}

.header-title{
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 22px;
  margin-bottom: 50px;
  font-weight: 200;
}

.home-content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-bottom: 64px;
}

.copyright,
.footer,
.header{
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  position: relative;
  flex: 1;
  overflow-y: scroll;
  padding-top: 4em;
}

.content-left {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 1;
}

.container-tos{
  overflow-y: scroll;
  font-weight:300;
}

.logo-image-android {
  left: 0px;
  width: 18em;
  height: auto;
  max-width: 100%;
}

.logo-image-iphone {
  width: 18em;
  position: absolute;
  z-index: 3;
  height: auto;
  max-width: 100%;
  height: auto;
  right:2.0em;
}

.container{
  margin-left: 1em;
  margin-right: 1em;
}

@media (max-width: 769px) {
  .logo-image-iphone{
    right: 0 !important;
  }
  .home-content {
    flex-direction: column;
  }
  .logo-image-android {
    width: 15em !important;
  }

  .logo-image-iphone {
    width: 15em !important;
  }
}




.three-item-block-container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: .9em;
  text-align: center;
  justify-content: center;
  flex-wrap:wrap;
}

.header-container{
  display:flex;
  align-items: center;
}

@media (max-width: 769px) {
  .three-item-block-container{
    width:30em;
  }
  .copyright-container,
  .footer-container,
  .header-container{
    width:750px;
  }

  .header-title {
    text-align: center;
  }
}

@media (max-width: 435px) {
  .three-item-block-container{
    width:22em;
  }

}

@media (max-width: 950px) {
  .three-item-block-container{
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 769px) {
  .copyright-container,
  .footer-container,
  .header-container{
    width:1000px;
  }
}


@media (max-width: 719px) {
  .footer-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
  }
}



.bottom-content-container .title{
  margin-top:1em;

}

.bottom-content{
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  display: flex;
  margin-bottom:1em;
  width:100%;
  border-top: 1px solid #ededed;
}

.title{
  text-align:center;
  font-size: 3em;
  line-height: 1.12em;
  font-weight: 100;
  letter-spacing: 2.0px;
  margin-bottom:1em;
}

.three-item-block{
  display:flex;
  flex-direction:column;
  align-items: center;
  width:20em;
  margin:1em;
  font-weight:400;
}

.three-item-block h2 {
  font-weight:200;
  letter-spacing: 2.0px;
  color:#3d95ce;
}

.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  border: 1px solid #3d95ce;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:.5em;
}


/********************** footer ********************/

.footer{
  border-top: 1px solid #ededed;
  display:flex;
  flex-direction: row;
  margin-bottom:2em;
  justify-content: center;
}

.footer-block{
  display:flex;
  margin-top:3em;
  margin-right:2em;
  flex-direction: column;
}

.footer-block-group{
  display:flex;
  margin-left: 1.5em;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}

/* flex-direction: column-reverse;
justify-content: center;
    align-items: center; */

.footer-block-badges{
  display:flex;
  justify-content: flex-end;
  margin-top:3em;
  flex-direction: row;
}

h4{
  color:#262626;
  margin-top:0;
  margin-bottom: 0;
}

ul{
  padding:0;
  margin-top:0;
  margin-bottom:0;
}

.footer-block-badges img{
  height:45px;
  padding-left:.5em;
  padding-right: .5em;
}

.footer-block ul {
  color: #7f7f7f;
}

.copyright {
  display:flex;
  color:#7f7f7f;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:5em;
}

.copyright span {
  margin-left: 2em;
  margin-right: 1em;
}

.copyright-container{
  margin-left:auto;
  margin-right:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wabi{
  height:50px;
}

.email {
  background: #fff;
  font-size: 18px;
  font-weight: 400;
  height: 46px;
  padding-left: 18px;
  margin-bottom: 20px;
}

.input {
  height: 48px;
  padding: 10px 16px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 4px;
}

.form-control {
  display: block;
  outline: none;
  height: 33px;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.33333333;
  color: #040d14;
  background-color: #fff;
  background-image: none;
  border: 1px solid #b1bfc4;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.email:focus {
  border-color: #3d95ce;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.footer-container a{
  text-decoration: none;
  color: #7f7f7f;
}

.home-container {
  /* height: 100%;
  overflow: scroll; */
}

.header-container a {
  display:flex;
}
